@model IEnumerable<MotoProject.Models.Motors>

@{
    ViewData["Title"] = "Index";
}
<style>
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid blac;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .table {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .edit {
        background-color: #04AA6D;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:70px;
  text-align: center;
   margin : 10px;
    }

    body {
        background-image: url("/css/car.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: "Lato", sans-serif;
        color: white;
        line-height: 1.8;
    }
</style>
<h1>𝓜𝓸𝓽𝓸𝓻𝓼</h1>

<p>
    <a style="color: white; width: 90px;  background-color: #04AA6D; border-radius: 4px;
        cursor: pointer;
      text-decoration : none;
padding :10px;
        text-align: center;" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.Id"> <div class="edit">Edit</div></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><div class="edit">Details</div></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><div class="edit">Delete</div></a>
                    
            </td>
        </tr>
}
    </tbody>
</table>
